/* Footer.css */
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #b7efc5;
    display: flex;
    align-items: center;
    line-height: 2;
    padding: 100px;
  }
  
  .footer-section {
    flex: 1;
    padding: 10px;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
  
  h6 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  

  @media (max-width: 480px) {
    .footer-container {
        flex-direction: column; /* Stack the sections on top of each other */
        align-items: flex-start;
        padding: 100px 20px 20px 20px;
    }

    .footer-section {
        flex: 100%; /* Take up the full width on mobile */
        text-align: left; /* Center the content within each section */
        padding: 20px 0; /* Adjust padding for mobile for more spacing */
    }

    .footer-bottom {
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
    }

    .icon-button {
        margin-top: 10px;
        margin-left: 0; /* Reset the left margin on mobile */
    }
}