html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* Set the background color on the body element */
  body {
    background-color: #b7efc5;
  }
  

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: "Unbounded", "Unbounded Placeholder", sans-serif;
  } 

  p {
        font-family: "Spline Sans Mono", monospace;
        font-weight: 400;
        color: #000000;
        font-size: 14px;
        line-height: 1.5;
    }